<a href="/">Voltar</a>
<h2>Adicione uma nota:</h2>
<form action="/notes" method="POST">
<div class="mb-3">
    <lab for="title" class="form-label">Título</lab>
    <input type="text" class="form-control" id="title" name="title" placeholder="O que você pretende fazer?">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Descrição</label>
    <textarea name="description" id="description" class="form-control" placeholder="Descreva sua nota..."></textarea>
</div>
<button type="submit" class="btn btn-primary">Criar nota</button>
</form>